.menu
  = haml(:menu)
.workshops
  %h1= @title
  %table
    %thead
      %tr
        %td= 'Hora'
        %td= 'Conferencia'
        %td= 'Expositores'
    %tbody
    -@conferences.each do |v|	
      %tr
        %td= v[1]['Hora']
        %td= v[1]['Conferencia']
        %td= v[1]['Expositores']
