
%h1= 'Talleres'
/ - get_workshops_schedule.except(0).each do |w|
%table
  %thead
    %tr
      %td= 'No.'
      %td= 'Nombre Taller'
      %td= 'Dias'
      %td= 'Hora'
      %td= 'Ubicacion'
      %td= 'Cupo maximo'
      %td= 'Instructor'
      %td= 'Empresa'
      %td= 'Prerequisitos	'
  %tbody
    -get_workshops_schedule.each do |v|	
      %tr
        %td= v[1]['No.']
        %td= v[1]['Nombre Taller']
        %td= v[1]['Dias']
        %td= v[1]['Hora']
        %td= v[1]['Ubicación']
        %td= v[1]['Cupo máximo']
        %td= v[1]['Instructor']
        %td= v[1]['Empresa']
        %td= v[1]['Pre-Requisitos']