.menu
  = haml(:menu)
.workshops
  %h1= @title
  %table
    %thead
      %tr
        %td= 'No.'
        %td= 'Nombre'
        %td= 'Dia'
        %td= 'Hora'
        %td= 'Ubicacion'
        %td= 'Instructor'
        %td= 'Cupo'
        %td= 'Inscritos'
    %tbody
      -@workshops.each do |v|	
        %tr
          %td= v[1]['No']
          %td= v[1]['Nombre']
          %td= v[1]['Dia']
          %td= v[1]['Hora']
          %td= v[1]['Lugar']
          %td= v[1]['Expositor']
          %td= v[1]['Cupo']
          %td= v[1]['Inscritos']